{# ============================================================================================= #}
{# Error List: No post #}
{# ============================================================================================= #}

{% if published_timetables %}
<div title="" class="after_post_notification admin-dialog" style="display:none" >
      <h3>Timetables published</h3>
	  <p>{{ published_timetables }} Event Groups were published.</p>
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Close</a></li>
        </ul>
    </form>
</div>
{% endif %}
{% if embargo_published_timetables %}
<div title="" class="after_post_notification admin-dialog" style="display:none" >
      <h3>Timetables published under embargo until {{ embargo_date }}</h3>
	  <p>{{ embargo_published_timetables }} Event Groups were published.</p>
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Close</a></li>
        </ul>
    </form>
</div>
{% endif %}