{% extends "error/error-base.html" %}
{% load url from future %}

{% block title-area %}
	<div id="title" class="content-container">Page not found (404)</div>
{% endblock %}

{% block error-explanation %}
<h2>Oops! It looks like the page you are looking for doesn't exist.</h2>
{% endblock error-explanation %}

{% block error-content %}
<h3>Not all hope is lost though; here is what you can do:</h3>
<ul>
	<li>Click the <a href="javascript:history.back()">back</a> button to go back to the previous page</li>
	<li>Go back to the <a href="{% url "student home loggedin" %}">homepage</a></li>
	<li>Or if you are more experienced, you might find the correct page by editing the URL in your browser's URL bar</li>
</ul>
{% endblock error-content %}
