{% load staticfiles %}
{% load url from future %}
{% load timetables_tags %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

    <title>{% block title %}{{ page_title|default:"Timetables" }}{% endblock %}</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- We may want to remove this CSS and just do it all ourselves. -->
    <link rel="stylesheet" href="{% static "js/libs/jquery-ui/themes/base/jquery.ui.all.css" %}">
    <link rel="stylesheet" href="{% static "js/libs/jquery-ui/themes/base/jquery.ui.autocomplete.css" %}">
	
    {% comment %}
    Load up require.js which in turn loads main.js and all our js code. The
    data-page-module attribute defines a module which the main module will run
    once it's initialised RequireJS. This is needed as the main module needs to
    be the same on all pages, as it contains the RequireJS config. If you wanted
    to set data-main on a per-page basis you'd have to duplicate the config in
    each module in some way. javascript_main_module is provided through a 
    combination of the js_main() view decorator, and a context processor. See 
    utils/requirejs.py for more info. 
    {% endcomment %}
    <script 
    	data-page-module="{{ javascript_main_module|default:'' }}" 
    	data-main="{% static "js/main" %}"
    	src="{% static "js/libs/require.js" %}"></script>
    
    {% comment %}
    Bootstraps are named AMD modules which return JSON data for 'bootstrapping'
    (providing initial data for) javascript views.
    {% endcomment %}
    <script id="bootstraps">
        {% include "fragments/bootstraps.js" %}
    </script>
    
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="content-container">
        <a href="http://www.cam.ac.uk" title="Cambridge University Homepage" target="_blank"><img src="/static/img/logo.png" alt=""/></a>
        {% block top-navigation %}
        <ul class="nav-horizontal nav-right" id="top-navigation">
        {% if user.is_logged_in %}
            <li><input type="hidden" id="ref_username" value="{{ user.username }}" /><a href="{% url "logout url" %}">Logged in as <b>{{ user.name }}</b> (Log out)</a></li>
        {% endif %}
            <li><a class="popup-help-control" href="javascript:void(0)">Help</a>
			{% block pagehelp %}
			    {# replace this block on the child page to contain help for the page #}
				<span help-title="Need Help ?" style="display:none">
                   <p>
                      There is no specific help for this page.
                   </p>
                </span>			
            {% endblock %}
            {% if user.isAdmin %}
                | <a href="{% url "admin home" %}">Admin</a>
            {% endif %}
            {% if user.isSuperAdmin %}
                | <a href="{% url "superadmin overview" %}">Super Admin</a>
            {% endif %}
            </li>
        </ul>
        {% endblock top-navigation %}
    </header>
    
    <section class="title-area">
        <div class="content-container">
        {% block title-area %}
        {% endblock title-area %}
        </div>
    </section>
  
    <div id="main">
    {# This is the entire central portion of the page. #}
    {% block content %}
    {% endblock content %}
    </div>
    
    <footer>
        <div class="content-container">
            <ul>
                <li><h4>Attending lectures</h4></li>
                <li><a href="http://www.admin.cam.ac.uk/reporter/2010-11/special/01/section1.shtml">Lecture attendance rules</a></li>
                <li><a href="http://www.cam.ac.uk/map/">University Map</a></li>
            </ul>
            
            <ul>
                <li><h4>Contacts</h4></li>
                <li><a href="{% setting FEEDBACK_URL http://www.caret.cam.ac.uk %}">Timetable feedback</a></li>
            </ul>
            
            <ul>
                <li><h4>External links</h4></li>
                <li><a href="http://www.admin.cam.ac.uk/whatson/">What's On</a></li>
                <li><a href="http://talks.cam.ac.uk">Talks.cam</a></li>
                <li><a href="http://www.training.cam.ac.uk">University of Cambridge Training</a></li>
            </ul>

            <!-- Show the git revision we're running from: -->
            <!-- FIXME: This needs to be on all pages, but probably doesn want to include the link or be a prominent for non debug mode
                 I also think this needs to be displayed but the full debug template output should only be displayed on 127.0.0.1 
                 -->
            <ul>
                <li><h4>QA/Debug Info</h4></li>
                <li>Git Revision: 
                    <code>
                        <a href="https://bitbucket.org/ieb/timetables/changeset/{{ GIT_REVISION|urlencode }}">
                            {{ GIT_REVISION|slice:":8" }} {{ GIT_BRANCH }}
                        </a>
                    </code>
                </li>
            </ul>
         </div>
    </footer>
{# help popup container re-used by help all popups. #}
<div class="popup popup-help" style="display: none">
    <div class="popup-top">
        <span class="hide-me">&nbsp;</span>
    </div>
    <div class="popup-content">
        <div class="popup-content-head"><p></p></div>
        <div class="popup-content-description">
            <p>Help Text</p>
        </div>
    </div>
</div>
</body>
</html>
