{% extends "administrator/administrator-base.html" %}

{% comment %}
This page is the "Event Timetables" page from the admin blueprint. It shows a filterable
list of all available timetables in the current faculty.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}
{% load timetables_tags %}

{% block admin-nav-breadcrumb-additional-content %}
{% if can_classify %}
<a href="{% url "admin add classifications" page_year.url_id page_organisation.url_id %}" class="btn-type1 btn-medium">Add New Classification</a>
{% endif %}
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-content-header-additional-content %}
<form>
    <input type="text" name="q" value="{{ search_term }}" placeholder="Search Timetables">
    <input type="submit" name="" value="&gt;" class="btn-type1">
</form>
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}


{% block admin-page-content %}
<section id="classifications">

    <table class="classification-table">
    <tr>
        <th><a href="?{% sort_column_href "topic" %}" class="{% sort_column_class "topic" %}" >Name</a></th>
        <th>Level</th>
        <th>Events</th>
    </tr>
    {% for classification in classification_matches %}
        <tr>
        	{% if can_classify %}
            <td><a href="{% url "admin edit classifications" page_year.url_id page_organisation.url_id classification.id %}">{{ classification.name }}</a></td>
            {% else %}
            <td>{{ classification.name }}</td>
            {% endif %}
            <td>
                 {{ classification.classifier.parent.value }}
            </td>
            <td>
               {% if classification.classifier.parent %}
               <a href="{% url "admin events" page_year.url_id page_organisation.url_id %}?subject={{ classification.classifier.id }}&level={{ classification.classifier.parent.id }}">View Events</a>
               {% else %}
	               {% if classification.classifier.family == 'L' %}
               			<a href="{% url "admin events" page_year.url_id page_organisation.url_id %}?level={{ classification.classifier.id }}">View Events</a>
               	   {% else %}
               			<a href="{% url "admin events" page_year.url_id page_organisation.url_id %}?subject={{ classification.classifier.id }}">View Events</a>
	               {% endif %}
               	   
               {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    
    {% include "administrator/fragments/django-pagination.html" with url_params=url_params %}
</section>

{% endblock admin-page-content %}
